import { Component, ChangeDetectionStrategy } from '@angular/core';

@Component({
  selector: '<%= selector %>',
  templateUrl: '<%= dasherize(name) %>.component.html',
  styleUrls: ['<%= dasherize(name) %>.component.css'],
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class <%= classify(name) %> {
  constructor() {}
}
